.Button-for-table{
  padding:4px 5px 1px !important;
}

.Button-identify{
  margin-left: 10px !important;
}

.Button-for-card{
  padding:4px 10px 0px !important;
}

.Button {
  padding:4px 10px 0px !important;
}

.Table{
  widows: 100% !important;
}

.Table-row{
  height: 40px !important;
}

.Table-cell{
  padding: 0px !important;
}

.Table-num{
  width: 70px !important;
}

.Table-view{
  width: 70px !important;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.title {
  font-size: 1.4rem;
}